In [3]:
data = pd.read_csv('BL.csv')

def convert_title(cell):
    str2=''
    if cell[0] == '[':
        for i in range(1, len(cell)):
            if (cell[i] == '[') or ( cell[i] == ']') or (cell[i] == '.'):
                return str2
            str2 += cell[i]
            if (i == '.'):
                return str2
                
            
    for i in cell:
        if (i == '.') or (i == '[') or ( i == ']'):
            return str2
        str2 += i
       
    return str2      
            
data = pd.read_csv('BL.csv',converters = {'Title' : convert_title} )

print(data.Title)

['Identifier',
 'Edition Statement',
 'Place of Publication',
 'Date of Publication',
 'Publisher',
 'Title',
 'Author',
 'Contributors',
 'Corporate Author',
 'Corporate Contributors',
 'Former owner',
 'Engraver',
 'Issuance type',
 'Flickr URL',
 'Shelfmarks']

In [120]:
maxi = data.sort_values("2",ascending= False)[:5]
print(maxi)

In [116]:
import pandas as pd
data = pd.read_csv('olympics.csv')

boolean = []
for x in data['2']:
    if (x == '0'):
        boolean.append(False)
    else:
        boolean.append(True)
        
is_long = pd.Series(boolean)

data[is_long].to_csv('out2.csv')

KeyError: '2'

In [40]:
maxi = data.sort_values("2",ascending= False)[:5]
print(maxi)

                                       0   1    2    3    4     5   6   7  \
136  United States (USA) [P] [Q] [R] [Z]  26  976  757  666  2399  22  96
59                       India (IND) [F]  23    9    6   11    26   9   0
39                         Estonia (EST)  11    9    9   15    33   9   4
63                         Ireland (IRL)  20    9    8   12    29   6   0
104                        Romania (ROU)  20   88   94  119   301  20   0

       8   9   10  11    12   13   14    15
136  102  84  282  48  1072  859  750  2681
59     0   0    0  32     9    6   11    26
39     2   1    7  20    13   11   16    40
63     0   0    0  26     9    8   12    29
104    0   1    1  40    88   94  120   302

In [4]:
import pandas as pd
data = pd.read_csv('olympics.csv')
is_long = (data['2'] != '0') & (data['3']!= '0') & (data['4']!= '0') &(data['7']!= '0') & (data['8']!= '0') & (data['9']!= '0')

data[is_long]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,? Summer,01 !,02 !,03 !,Total,? Winter,01 !,02 !,03 !,Total,? Games,01 !,02 !,03 !,Combined total
6,Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
7,Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
12,Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
13,Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
19,Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
22,Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
24,China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
28,Croatia (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
31,Czech Republic (CZE) [CZE],5,14,15,15,44,6,7,9,8,24,11,21,24,23,68
32,Czechoslovakia (TCH) [TCH],16,49,49,45,143,16,2,8,15,25,32,51,57,60,168
39,Estonia (EST),11,9,9,15,33,9,4,2,1,7,20,13,11,16,40
41,Finland (FIN),24,101,84,117,302,22,42,62,57,161,46,143,146,174,463
42,France (FRA) [O] [P] [Z],27,202,223,246,671,22,31,31,47,109,49,233,254,293,780
45,Germany (GER) [GER] [Z],15,174,182,217,573,11,78,78,53,209,26,252,260,270,782
46,United Team of Germany (EUA) [EUA],3,28,54,36,118,3,8,6,5,19,6,36,60,41,137
47,East Germany (GDR) [GDR],5,153,129,127,409,6,39,36,35,110,11,192,165,162,519
48,West Germany (FRG) [FRG],5,56,67,81,204,6,11,15,13,39,11,67,82,94,243
50,Great Britain (GBR) [GBR] [Z],27,236,272,272,780,22,10,4,12,26,49,246,276,284,806
65,Italy (ITA) [M] [S],26,198,166,185,549,22,37,34,43,114,48,235,200,228,663
67,Japan (JPN),21,130,126,142,398,20,10,17,18,45,41,140,143,160,443
68,Kazakhstan (KAZ),5,16,17,19,52,6,1,3,3,7,11,17,20,22,59
71,South Korea (KOR),16,81,82,80,243,17,26,17,10,53,33,107,99,90,296
89,Netherlands (NED) [Z],25,77,85,104,266,20,37,38,35,110,45,114,123,139,376
94,Norway (NOR) [Q],24,56,49,43,148,22,118,111,100,329,46,174,160,143,477
100,Poland (POL),20,64,82,125,271,22,6,7,7,20,42,70,89,132,291
105,Russia (RUS) [RUS],5,132,121,142,395,6,49,40,35,124,11,181,161,177,519
107,Soviet Union (URS) [URS],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204
108,Unified Team (EUN) [EUN],1,45,38,29,112,1,9,6,8,23,2,54,44,37,135
114,Slovakia (SVK) [SVK],5,7,9,8,24,6,2,2,1,5,11,9,11,9,29
115,Slovenia (SLO),6,4,6,9,19,7,2,4,9,15,13,6,10,18,34
121,Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
122,Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
134,Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
136,United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
147,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [47]:
is_long = (data['2'] != '0') 
data[is_long]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,? Summer,01 !,02 !,03 !,Total,? Winter,01 !,02 !,03 !,Total,? Games,01 !,02 !,03 !,Combined total
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12

In [79]:
data = pd.read_csv('BL.csv')

def convert_title(cell):
    str2=''
    if cell[0] == '[':
        for i in range(1, len(cell)):
            if (cell[i] == '[') or ( cell[i] == ']') or (cell[i] == '.'):
                return str2
            str2 += cell[i]
            if (i == '.'):
                return str2
                
            
    for i in cell:
        if (i == '.') or (i == '[') or ( i == ']'):
            return str2
        str2 += i
       
    return str2      
            
data = pd.read_csv('BL.csv',converters = {'Title' : convert_title} )

print(data.Title)

0                                           Walter Forbes
1                                           All for Greed
2                                        Love the Avenger
3       Welsh Sketches, chiefly ecclesiastical, to the...
4           The World in which I live, and my place in it
5           The World in which I live, and my place in it
6                                               Lagonells
7                   The Coming of Spring, and other poems
8       A Warning to the inhabitants of England, and L...
9                                  A Satyr against Vertue
10      An Account of the many and great Loans, Benefa...
11      Erindringer som Bidrag til Norges Historie fra...
12                  Gli Studi storici in terra d'Otranto
13                                             De Aardbol
14                    Cronache Savonesi dal 1500 al 1570
15                                      See-Saw; a novel
16      Géodésie d'une partie de la Haute Éthiopie,...
17                                       With eleven maps
18      Historia geográfica, civil y politica de la I...
19      The Crisis of the Revolution, being the story ...
20                                    Peace: a lyric poem
21      Abdallah; or, The Arabian Martyr: a Christian ...
22                Abdollatiphi Historiæ Ægypti compendium
23                          The Comic History of England
24                          The comic history of England
25                             The Comic History of Rome
26                              Signa: opera in tre atti
27            The Venetian Outlaw, a drama in three acts
28      Description of the Coast between Aberdeen and ...
29                              Aus Kaukasischen Ländern
                              ...
8257                                  A friendly epistle
8258                                     Honor Ormthwaite
8259                The scale: or, Woman weighed with man
8260                                   The noble souldier
8261                                      Yarico to Inkle
8262                                  The Canadian farmer
8263                        Japhet in search of a Father
8264                      Histoire populaire de Pontoise
8265                              The Vicar of Wakefield
8266                             1776 American Enterprise
8267    The lacemakers: sketches of Irish characters w...
8268    The Sword of Peace; or, a voyage of love; a co...
8269    THe Unfortunate Dutchess of Malfy, or, The Unn...
8270                                           The 5 Alls
8271                                           Barbarossa
8272                              The Revenger's Tagaedie
8273           Edith Heron; or, the Earl and the countess
8274                Abridgment of the History of England
8275                                             The Wish
8276                               A System of Mineralogy
8277    Third Appendix to the fifth edition of Dana's ...
8278                              A System of Mineralogy
8279            History of the People of the Netherlands
8280    The New Chronicles of England and France, in t...
8281    Local Records; or, Historical Register of rema...
8282      The Parochial History of Cornwall, founded on,
8283    The History and Gazetteer of the County of Der...
8284    Magna Britannia; being a concise topographical...
8285    An historical, topographical and descriptive v...
8286              Collectanea Topographica et Genealogica
Name: Title, Length: 8287, dtype: object

In [104]:
data = pd.read_csv('BL.csv')

def convert_author(cell):
    last_name = ""
    first_name = ""
    middle_name = ""
    tracker = 0
    for i in range(len(cell)):
        if (cell[i] == ',') : 
            tracker += 1
            i +=1
            
        elif (cell[i] == '|' or cell[i] == '-'):
            break
        
        else:
            if (tracker == 0):
                last_name += cell[i]
            elif (tracker==1):
                first_name += cell[i]
            elif (tracker ==2):
                middle_name += cell[i]
            else:
                break
                
        #first_name= first_name.lower()
        last_name = last_name.lower()
       # middle_name = middle_name.lower()
    
       # first_name = first_name.capitalize()
        last_name = last_name.capitalize()
       # middle_name=middle_name.capitalize()
    
    if ( len(last_name) == 0):
        returnString = ''  
    elif ( len(first_name) == 0):
        returnString = last_name
    elif ( len(middle_name) == 0):
        returnString = last_name + ',' + first_name
    else:
        returnString = last_name + ',' + first_name + ',' + middle_name
    
    return returnString


            
data = pd.read_csv('BL.csv',converters = {'Author' : convert_author, 'Contributors' : convert_author} )

print(data.Contributors)

data.to_csv('out1.csv')

0                          Forbes, Walter.
1       Blaze de bury, Marie Pauline Rose
2       Blaze de bury, Marie Pauline Rose
3              Appleyard, Ernest Silvanus.
4                      Broome, John Henry.
5                      Broome, John Henry.
6                  Ashley, Florence Emily.
7                             Andrews, J.
8                             Adams, Mary.
9                            Oldham, John.
10                          Carte, Samuel.
11                             Aall, J. C.
12                            S., L. G. D.
13                  Witkamp, Pieter Harme.
14                     Assereto, Giovanni.
15                 Reade, William Winwood.
16                        Radau, Rodolphe.
17                        Radau, Rodolphe.
18        Acosta y calbo, José Julian de.
19                           André, John
20                      Wrangham, Francis.
21                  Barham, Thomas Foster
22                          White, Joseph
23                            Leech, John
24                            Leech, John
25                            Leech, John
26             Mazzucato, Giovanni Andrea.
27               Elliston, Robert William.
28                        Duncan, William
29                       Abich, Adelaïde.
                       ...
8257                     Mitchell, Joseph
8258                    Ormthwaite, Honor.
8259                                M., J.
8260                                R., S.
8261                        Moore, Edward
8262                          Y., W. J. H.
8263                        Hannay, David.
8264                Le charpentier, Henri.
8265                  Bussey, George Moir.
8266                  Burley, Sylvester W.
8267                     Lloyd, Mary Anne.
8268                      Starke, Mariana.
8269                         Cringle, Tom.
8270                         Hood, Thomas
8271                       Garrick, David.
8272                      Tourneur, Cyril.
8273                 Rymer, James Malcolm.
8274                    Robolsky, Hermann.
8275                         Henkel, Lily.
8276                 Brush, George Jarvis.
8277               Dana, Edward Salisbury.
8278                 Brush, George Jarvis.
8279                   Bierstadt, Oscar A.
8280                         Ellis, Henry
8281                          Sykes, John
8282                  Boase, Henry Samuel.
8283                        Noble, Thomas.
8284                     Gregson, Matthew.
8285                             Ross, M.
8286                   Bandinel, Bulkeley.
Name: Contributors, Length: 8287, dtype: object